<footer>
  <hr>
  <p>
    <a href="https://github.com/isaiahevans" target="_blank">GitHub</a> |
    <a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/" target="_blank">Codecademy</a> |
    <a href="https://jsfiddle.net/" target="_blank">JSFiddle</a> |
    <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
  </p>

  <p>Page built by Isaiah Evans</p>

  
  <script src="https://lint.page/kit/880bd5.js" crossorigin="anonymous"></script>
</footer>
